Q1
--

In [5]:
a=input()
i1=a.find('@')
i2=a.find('.',11)
print(a[i1+1:i2])

sharu5.1997@gmail.com
gmail

Q2
--

In [13]:
b=input()
b=b.split(",")
b.sort()
print(",".join(b))

sharu,anu,amnu
amnu,anu,sharu

Q3
--

In [27]:
s={'sharu','anu','manu'}
print(s)
print(len(s))
for i,e in enumerate(s):
    print(i,e)
for i in range(10):
    s.add(i)
{i for i in range(20,25)}

{'anu', 'sharu', 'manu'}
3
0 anu
1 sharu
2 manu

{20, 21, 22, 23, 24}

Q4
--

In [7]:
n=list(map(int,input().split()))
l=max(n)
s=min(n)
for i in range(s,l):
    if i in n:
        continue
    else:
        print(i,end=" ")

1 3 5 6 8 9
2 4 7

Q5
--

In [4]:
m=list(map(int,input().split()))
print(m)
print(set(m))

1 2 3 4 5 1 2 3 8 1 23 9
[1, 2, 3, 4, 5, 1, 2, 3, 8, 1, 23, 9]
{1, 2, 3, 4, 5, 8, 9, 23}